<div class="bg-white rounded-lg p-6 w-full">
    <h3 class="text-lg font-medium text-gray-900 mb-4">{{data.title}}</h3>
    <div class="space-y-4">
        <div>
            <label class="block text-sm font-medium text-gray-700">{{data.message}}</label>
        </div>
        <div>
            <label for="confirm" class="block text-sm font-medium text-gray-700">Escribe "confirm" para confirmar la operación.</label>
            <input type="text" id="confirm" required maxlength="200" placeholder="confirm" [(ngModel)]="confirmText"
                    class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
        </div>
    </div>
    <div class="flex justify-end space-x-3 mt-6">
        <button type="button" id="cancel-namespace-btn" (click)="onCancel()"
                class="px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md hover:bg-gray-50">
            {{data.cancelText}}
        </button>
        <button type="button" (click)="onConfirm()"
                class="px-4 py-2 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded-md hover:bg-indigo-700">
            {{data.confirmText}}
        </button>
    </div>
</div>